src/main/java/JlibPdewWdum/api/soap/movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost:8080/myapp/soap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MovieRequest" type="soap:MovieRequestType" xmlns:soap="http://localhost:8080/myapp/soap"/>
  <xs:complexType name="MovieRequestType">
    <xs:sequence>
      <xs:element type="soap:MovieType" name="Movie" xmlns:soap="http://localhost:8080/myapp/soap"/>
      <xs:element type="soap:RoomMovieType" name="RoomMovie" xmlns:soap="http://localhost:8080/myapp/soap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomMovieType">
    <xs:sequence>
      <xs:element type="xs:string" name="IdRoom"/>
      <xs:element type="xs:string" name="Idomdb"/>
      <xs:element type="xs:string" name="Techno"/>
      <xs:element type="xs:string" name="Localisation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MovieType">
    <xs:sequence>
      <xs:element type="xs:string" name="Idomdb"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>